# Contoh format konfigurasi database Neon PostgreSQL
neon pooling:postgresql://username:password@ep-your-database-pooler.region.aws.neon.tech/neondb?sslmode=require&channel_binding=require
neon unpooling:postgresql://username:password@ep-your-database.region.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Password Akses Aplikasi Kasir
APP_PASSWORD=your_password_here
